{% extends 'base.html.twig' %}

{% block title %}Guest Book Messages{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end mb-4 mt-4">
        <a class="btn btn-primary" href="{{ path('wish_create') }}">{{ 'wish.create'|trans }}</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ 'username'|trans }}</th>
            <th scope="col">{{ 'email'|trans }}</th>
            <th scope="col">{{ 'date'|trans }}</th>
            <th scope="col">{{ 'message'|trans }}</th>
            {% if app.user %}
                <th scope="col">{{ 'actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for wish in wishes %}
            <tr>
                <td>{{ wish.userName }}</td>
                <td>{{ wish.email }}</td>
                <td class="text-nowrap">{{ wish.createdAt.format('Y-m-d') }}</td>
                <td>{{ wish.content|raw }}</td>
                {% if app.user %}
                    <td>
                        <span class="d-flex flex-row">
                            {% if is_granted('edit', wish) %}
                                <a class="btn btn-primary me-1 btn-sm"
                                   href="{{ path('wish_update', {id: wish.id }) }}"
                                >
                                    <i class="bi-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('delete', wish) %}
                                <a href="{{ path('wish_delete', {id: wish.id }) }}"
                                   class="btn btn-danger btn-sm">
                                    <i class="bi-trash"></i>
                                </a>
                            {% endif %}
                        </span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        <li class="page-item {% if pagination.current == pagination.previous %} disabled {% endif %}">
            <a class="page-link" href="{{ path('wish_index', {page: pagination.previous}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in 1..pagination.max %}
            <li class="page-item {% if i == pagination.current %} active {% endif %}">
                <a class="page-link" href="{{ path('wish_index', {page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {% if pagination.current == pagination.next %} disabled {% endif %}">
            <a class="page-link" href="{{ path('wish_index', {page: pagination.next}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
{% endblock %}
